@import url('https://fonts.googleapis.com/css?family=Manrope');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Manrope, Verdana, Geneva, Tahoma, sans-serif;
    transition: all .3s ease-in-out;
}   
body {
    line-height: 1.6em;
    background-color: white;
}
/* Style the navigation bar */
nav {
    color: #248542;
    background-color: white;
    padding: 15px;
    box-shadow: 0px 10px 20px lightgray;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
nav:hover {
    box-shadow: 0px 10px 20px #EAB149;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    text-align: right;
    color: #248542;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #248542;
    text-decoration: none;
    transition: .3s;
}
nav ul li a:hover {
    color: #E27DA0;
    text-decoration: none;
}
.title {
    margin-right: auto;
}

/*styling the homepage*/

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 30px;
}
#logo {
    width: 50%;
    height: auto;
    animation: bounce 0.5s; 
    animation-direction: alternate; 
    animation-timing-function: cubic-bezier(.5, 0.05, 1, .5); 
    animation-iteration-count: infinite; 
}
@keyframes bounce { 
    from { 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        transform: translate3d(0, 10px, 0); 
    } 
}
#home h3 {
    padding: 10px;
}
#link {
    color: #248542;
    text-decoration: none;
}
#link:hover {
    color: #E27DA0;
}

/*styling the about page*/

#about {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding-top: 1%;
}
#about h1 {
    margin: 5%;
    padding: 5%;
    font-size: 300%;
    color: #248542;
    box-shadow: 10px 10px 20px lightgray;
}
#about h1:hover {
    transition: all .3s;
    color: #E27DA0;
    box-shadow: 10px 10px 20px #EAB149;
}
#about p {
    margin: 5%;
    padding: 5%;
    color: #EAB149;
    box-shadow: 10px 10px 20px lightgray;
}
#about p:hover {
    transition: all .3s;
    color: #E27DA0;
    box-shadow: 10px 10px 20px #EAB149;
}
#pic1 {
    max-width: 90%;
    box-shadow: 10px 10px 20px lightgray;
}

/*styling the footer*/

#about #future {
    margin-bottom: 100px;
}

#accomplishments {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding-top: 1%;
}
#accomplishments h1 {
    margin: 5%;
    padding: 5%;
    font-size: 300%;
    color: #248542;
    box-shadow: 10px 10px 20px lightgray;
}
#accomplishments h1:hover {
    transition: all .3s;
    color: #E27DA0;
    box-shadow: 10px 10px 20px #EAB149;
}
#accomplishments h2 {
    margin: 5%;
    padding: 5%;
    font-size: 175%;
    color: #248542;
    box-shadow: 10px 10px 20px lightgray;
}
#accomplishments h2:hover {
    transition: all .3s;
    color: #E27DA0;
    box-shadow: 10px 10px 20px #EAB149;
}
#accomplishments img {
    width: 750px;
    height: auto;
}
#accomplishments p {
    margin: 5%;
    padding: 5%;
    color: #EAB149;
    box-shadow: 10px 10px 20px lightgray;
}
#accomplishments p:hover {
    transition: all .3s;
    color: #E27DA0;
    box-shadow: 10px 10px 20px #EAB149;
}
#accomplishments {
    margin-bottom: 100px;
}
/*VED*/
#contact {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding-top: 1%;
}
#contact h1 {
    margin: 5%;
    padding: 5%;
    font-size: 300%;
    color: #248542;
    box-shadow: 10px 10px 20px lightgray;
}
#contact h1:hover {
    color: #E27DA0;
    box-shadow: 10px 10px 20px #EAB149;
}
#section #container img {
    max-width: 60%;
}
#section #container p {
    width: auto;
}
#section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
#section #container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 225px;
    width: 225px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 10px 10px 20px lightgray;
}
#section #container #officer {
    height: 50%;
}
#section #container:hover {
    box-shadow: 10px 10px 20px #EAB149;
}
#section #container p {
    color: #248542;
}
#section #container p:hover {
    color: #E27DA0;
}
#email {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding-bottom: 100px;
}
#email h1 {
    margin: 5%;
    padding: 5%;
    font-size: 300%;
    color: #248542;
    box-shadow: 10px 10px 20px lightgray;
}
#email h1:hover {
    box-shadow: 10px 10px 20px #EAB149;
}
#email #here {
    color: #EAB149;
    text-decoration: none;
}
#email #here:hover {
    color: #E27DA0;
}

/*styling the events page*/

#events {
    text-align: center;
    max-width: 800px;
    margin: auto;
    padding-top: 2%;
}
#events h2 {
    margin: 5%;
    padding: 5%;
    font-size: 300%;
    color: #248542;
    box-shadow: 10px 10px 20px lightgray;
    transition: all .3s ease-in-out;
}
#events h2:hover {
    transition: all .3s;
    color: #E27DA0;
    box-shadow: 10px 10px 20px #EAB149;
}
#events p {
    margin: 5%;
    padding: 5%;
    color: #EAB149;
    box-shadow: 10px 10px 20px lightgray;
    transition: all .3s ease-in-out;
}
#events p:hover {
    transition: all .3s;
    color: #E27DA0;
    box-shadow: 10px 10px 20px #EAB149;
}
#events img {
    max-width: 700px;
}
#events #apples {
    margin-bottom: 100px;
}
/*styling the footer*/
footer {
    background-color: #248542;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
