@import url('http://fonts.googleapis.com/css?family=Manrope');
/* Reset some default styles of the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #554640;
    font-family: Manrope;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6em;
    background-color: #CDE6F5;
}
/* Style the navigation bar */
nav {
    background-color: #8DA7BE;
    color: #554640;
    padding: 15px;
    border-color: #707078;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    text-align: right;
}
.title {
    margin-right: auto;
}
.homeIntro {
    text-align: center;
    font-weight: normal;
    padding: 20px;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #554640;
    text-decoration: none;
}
nav ul li a:hover {
    color: #CDE6F5;
    text-decoration: none;
}
/* Style the header */
header {
    background-color: #f4f4f4;
    color: #333;
    padding: 10px;
    text-align: center;
}
main {
    text-align: center;
    font-weight: normal;
    padding: 20px;
}
main h1 {
    font-size: 400%;
    padding: 40px;
}
/* Style the footer */
footer {
    background-color: #8DA7BE;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
